@import "tailwindcss";

@theme {
  /* Cores do Mercadinho Silvio - otimizadas para contraste AAA */
  --color-brand-blue: #1e2f6f;
  --color-brand-yellow: #fdd835;
  --color-brand-green: #68c468;
}

/* Estilo global */
body {
  overflow-x: hidden;
  width: 100%;
}

/* Oculta scrollbar mantendo funcionalidade de scroll */
.scrollbar-hide {
  -ms-overflow-style: none;
  scrollbar-width: none;
}
.scrollbar-hide::-webkit-scrollbar {
  display: none;
}